<!doctype html>
<html ng-app="forms">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="forms.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="signup.html">
        <div class="modal-header">
            <h3>Task Signup</h3>
        </div>
        <form ng-submit="submit()">
          <div class="modal-body">
          	<div class="form-group">
            	<label>Name</label>
            	<input type="text" ng-model="data.name" />
            </div>
          	<div class="form-group">	
            	<label>Child</label>
            	<input type="text" ng-model="data.child" />
            </div>
          	<div class="form-group">	
            	<label>Cell Phone</label>
            	<input type="text" ng-model="data.phone" />
            </div>
          	<div class="form-group">	
            	<label>Email</label>
            	<input type="text" ng-model="data.email" />
            </div>	
          </div>
          <div class="modal-footer">
              <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
              <input type="submit" class="btn primary-btn" value="Submit" />
          </div>
        </form>
    </script>
    <script type="text/ng-template" id="addtask.html">
        <div class="modal-header">
            <h3>Add Task</h3>
        </div>
        <form ng-submit="submit()">
          <div class="modal-body">
          	<div class="form-group">
            	<label>Event</label>
            	<input type="text" ng-model="data.event" />
            </div>
          	<div class="form-group">	
            	<label>Need</label>
            	<input type="text" ng-model="data.need" />
            </div>
          	<div class="form-group">	
            	<label>Description</label>
            	<input type="text" ng-model="data.description" />
            </div>
          	<div class="form-group">	
            	<label>Points</label>
            	<input type="number" ng-model="data.points" />
            </div>
          <div >  
          <div class="form-horizontal">
            <div class="input-group">
              <label>Start Date</label>
              <input type="text" class="form-control" datepicker-popup="shortDate" ng-model="data.startdate" is-open="$parent.opened" ng-required="false" close-text="Close" />
            </div>
            <div class="input-group">
              <label>End Date</label>
              <input type="text" class="form-control" datepicker-popup="shortDate" ng-model="data.enddate" is-open="$parent.opened" ng-required="false" close-text="Close" />
            </div>            
          </div>
          </div>		
          </div>
          <div class="modal-footer">
              <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
              <input type="submit" class="btn primary-btn" value="Submit" />
          </div>
        </form>
    </script>

        <script type="text/ng-template" id="contact.html">
        <div class="modal-header">
            <h3>Contact the Teacher</h3>
        </div>
        <form ng-submit="submit()">
          
				
          </div>
          <div class="modal-footer">
              <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
              <input type="submit" class="btn primary-btn" value="Submit" />
          </div>
        </form>
    </script>


    <button class="btn btn-primary" ng-click="signup()">Signup</button>
    <button class="btn btn-success" ng-click="addtask()">Add Task</button>
    <button class="btn btn-warning" ng-click="contact()">Contact</button>
    <div ng-show="data">Event Name: {{ data.event }}</div>
</div>
  </body>
</html>
